# ===================================================================
# artella-plugins-uninstaller requirements file
# ===================================================================

artella-plugins-core